In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .appName('test') \
        .getOrCreate()

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/home/TTL/spark/spark-3.0.3-bin-hadoop3.2/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
22/03/01 10:53:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
df_green = spark.read.parquet("data/pq/green/*/*")

In [4]:
df_yellow = spark.read.parquet("data/pq/yellow/*/*")

In [5]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [6]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_green = df_green \
        .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
        .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [8]:
df_yellow = df_yellow \
        .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
        .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [9]:
common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [10]:
from pyspark.sql import functions as F

In [11]:
df_green_sel = df_green \
    .select(common_columns) \
    .withColumn('service_type',F.lit('green'))

In [12]:
df_yellow_sel = df_yellow \
    .select(common_columns) \
    .withColumn('service_type',F.lit('yellow'))

In [13]:
df_trips_data = df_green_sel.unionAll(df_yellow_sel)

In [16]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|41020907|
+------------+--------+

In [15]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [17]:
df_trips_data.registerTempTable('trips_data')

In [28]:
df_result = spark.sql("""
SELECT 
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc('month', pickup_datetime) AS revenue_month, 
    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,
    SUM(congestion_surcharge) AS revenue_monthly_congestion_surcharge,

    -- Additional calculations
    AVG(passenger_count) AS avg_montly_passenger_count,
    AVG(trip_distance) AS avg_montly_trip_distance
FROM
    trips_data
GROUP BY
    1, 2, 3
""")

In [30]:
df_result.coalesce(1).write.parquet('data/report/revenue/', mode='overwrite')

In [29]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|revenue_monthly_congestion_surcharge|avg_montly_passenger_count|avg_montly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000032|               1282.5|                  117.5|        56.010000000000005|           590.3200000000004|                    180.0000000000011|          17598.439999999948|                                11.0|        1.2394957983193278|       4.962810650887575|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                                null|                      null|      11.090000000000002|
|          15|2020-03-01 00:00:00|       green|  1682.2300000000002|                  5.5|                    6.5|                       0.0|                       79.56|                   19.800000000000026|          1802.4399999999998|                                 0.0|                       1.0|       7.910298507462687|
|         229|2020-03-01 00:00:00|       green|   676.3600000000001|                  0.0|                    1.0|                       0.0|          42.839999999999996|                    8.099999999999998|           728.2999999999998|                                 0.0|                       1.0|       7.691111111111111|
|         137|2020-10-01 00:00:00|       green|   3480.829999999999|                  0.0|                    0.0|                     297.0|          250.92000000000007|                   32.400000000000034|          4061.1499999999996|                                null|                      null|       9.184722222222222|
|          44|2020-10-01 00:00:00|       green|               146.5|                  3.5|                    2.0|                       5.5|                         0.0|                                  1.2|                       158.7|                                 0.0|                       1.0|                 12.0475|
|          41|2020-11-01 00:00:00|       green|   52371.86999999992|              1341.25|                 2025.0|         5862.450000000012|           567.5700000000003|                    1374.299999999883|           65967.39000000329|                              2713.5|        1.2318805682639056|      10.049589277993947|
|         108|2020-11-01 00:00:00|       green|   6710.019999999991|                  7.5|                   23.5|                    482.33|           215.7100000000001|                    54.29999999999984|           7496.110000000001|                                2.75|        1.0208333333333333|      238.73646408839784|
|         259|2021-04-01 00:00:00|       green|   7895.719999999995|                585.2|                    6.0|        148.82999999999998|          465.24000000000035|                    71.09999999999968|           9177.590000000002|                                 0.0|                       1.2|       9.195020920502094|
|         161|2021-04-01 00:00:00|       green|  1096.7499999999998|                 88.0|                    0.0|                       0.0|           63.22999999999999|                                  9.3|          1257.2799999999997|                                null|                      null|      10.048709677419358|
|         131|2020-12-01 00:00:00|       green|   5490.600000000002|                  0.0|                    1.5|         561.1399999999999|          128.03000000000003|                     58.4999999999998|           6242.519999999997|                                 0.0|                       1.0|       5.940101522842643|
|          15|2020-12-01 00:00:00|       green|   709.5199999999999|                  0.0|                    0.0|                     63.25|                       12.24|                    6.899999999999998|                      791.91|                                null|                      null|       6.340434782608695|
|         123|2020-08-01 00:00:00|       green|   5276.649999999995|                  3.5|                   17.5|                    454.61|          118.18000000000002|                    59.99999999999979|           5930.440000000001|                                 0.0|                       1.0|       5.190900000000003|
|         254|2021-01-01 00:00:00|       green|  10794.399999999989|               382.74|                   15.0|                    634.13|           421.2000000000002|                   113.99999999999928|          12364.220000000018|                                 0.0|        1.0303030303030303|      6.8015526315789465|
|         167|2020-06-01 00:00:00|       green|   7510.849999999998|                 19.0|                   49.0|        433.06000000000006|          429.03000000000014|                    86.69999999999953|            8559.04000000001|                                 5.5|                     1.152|       6.481262798634811|
|          37|2020-06-01 00:00:00|       green|   8582.560000000001|                 17.5|                   30.0|         491.5999999999999|           293.2500000000001|                    99.59999999999941|           9583.510000000004|                                16.5|        1.1333333333333333|       6.576987951807226|
|         106|2020-06-01 00:00:00|       green|   3419.650000000001|                 6.75|                   10.5|        376.09999999999997|          42.839999999999996|                   44.399999999999935|           3916.289999999998|                                8.25|                       1.3|       5.232905405405406|
|         242|2021-02-01 00:00:00|       green|  13165.010000000055|              1445.55|                   19.5|                      44.0|           403.9200000000002|                   168.60000000000068|          15269.579999999993|                                 8.0|        1.0512820512820513|       4.575569395017791|
|          72|2021-02-01 00:00:00|       green|   9811.500000000002|               1083.5|                    6.0|                     71.53|          146.88000000000005|                   124.49999999999918|          11248.910000000002|                                 0.0|                      1.25|      4.3061445783132495|
|          29|2020-05-01 00:00:00|       green|  14893.319999999992|                 27.0|                   45.5|        232.04000000000002|           539.6100000000002|                   141.89999999999966|           15997.61999999998|                                2.75|        1.1692307692307693|      10.338435517970407|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+------------------------------------+--------------------------+------------------------+
only showing top 20 rows